doctype html
html
    head
        script(src="https://kit.fontawesome.com/8327d4b3ff.js")
        title #{pageTitle} l #{siteName}
        link(rel="stylesheet", herf="/static/styles.css")
       
    body        
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")