extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for : #{searchingBy} 

    .search__videos
        each item in videos
            +videoBlock({
                videoFile: item.videoFile,
                title: item.title,
                views: item.views
    })

//- each는 반복문
//- videos 는 db에 있는 상수.